[submodule "gdeflate-sys/vendor/libdeflate"]
	path = gdeflate-sys/vendor/libdeflate
	url = https://github.com/NVIDIA/libdeflate
[submodule "vendor/libdeflate"]
	path = vendor/libdeflate
	url = https://github.com/NVIDIA/libdeflate
